
.headline {
    font-size: 26px !important;
  }
 
  .tabBoardDetail .v-tabs__container--fixed-tabs .v-tabs__div,
  .tabBoardDetail .v-tabs__container--icons-and-text .v-tabs__div {
    min-width: 100px;
  }

  .ctFileDetailInfo {
    background-color: #bdbdbd;
    color: black;
  }

  .btFileDetailInfo {
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 15px #999;
  }
  .dvPdfContainer {
    margin: 5px;
    padding: 0px;
    overflow: "hidden";
  }

  .one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 80px;
    max-width: 96px;
  }
  
/* revisionHistoryDataTable */
  /* .revisionHistoryDataTable .theme--dark.v-table thead tr:first-child {
    height: auto;
    padding-top: 19px;
    padding-bottom: 10px;
    border-left: none;
  }
  .revisionHistoryDataTable .flex-content {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }
  .revisionHistoryDataTable .flex-item {
    height: 20px;
    font-weight: bold;
  }
  .revisionHistoryDataTable .flex-content li:nth-child(1) {
    width: 5%;
    text-align: left;
  }
  .revisionHistoryDataTable .flex-content li:nth-child(2) {
    width: 30%;
    text-align: left;
  }
  .revisionHistoryDataTable .flex-content li:nth-child(3) {
    width: 25%;
    text-align: left;
  }
  .revisionHistoryDataTable .flex-content li:nth-child(4) {
    width: 15%;
    text-align: left;
  }  */

 .revisionHistoryDataTable .theme--dark.v-table thead tr th:nth-child(1) {
    width: 1%;
    padding-left: 5px;
  }
   .revisionHistoryDataTable .theme--dark.v-table thead tr th:nth-child(2) {
    width: 10%;
    padding: 0px;
  }
  .revisionHistoryDataTable .theme--dark.v-table thead tr th:nth-child(3) {
    width: 10%;
    padding: 0px;
  }
  .revisionHistoryDataTable .theme--dark.v-table thead tr th:nth-child(4) {
    width: 5%;
    padding: 0px;
    text-align: center;
  }

  
  
  .revisionHistoryDataTable .theme--dark.v-table  tr td:nth-child(1) {
    width: 1%;
    padding-left: 5px;
  }
   .revisionHistoryDataTable .theme--dark.v-table tr td:nth-child(2) {
    width: 10%;
    padding: 0px;
  }
  .revisionHistoryDataTable .theme--dark.v-table tr td:nth-child(3) {
    width: 10%;
    padding: 0px;
  }
  .revisionHistoryDataTable .theme--dark.v-table  tr td:nth-child(4) {
    width: 5%;
    padding: 0px;
    text-align: center;
  }

  

   
  /* relationFilesDataTable */
  
 .relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(1) {
  width: 1%;
  padding-left: 5px;
}
 .relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(2) {
  width: 5%;
  padding: 0px;
}
.relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(3) {
  width: 5%;
  padding: 0px;
  text-align: center;
}
.relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(4) {
  width: 5%;
  padding: 0px;
  text-align: center;
}
.relationFilesDataTable .theme--dark.v-table  tr td:nth-child(5) {
  width: 5%;
  padding: 0px;
  text-align: center;
}


.relationFilesDataTable .theme--dark.v-table  tr td:nth-child(1) {
  width: 1%;
  padding-left: 5px;
}
 .relationFilesDataTable .theme--dark.v-table tr td:nth-child(2) {
  width: 5%;
  padding: 0px;
}
.relationFilesDataTable .theme--dark.v-table tr td:nth-child(3) {
  width: 5%;
  padding: 0px;
  text-align: center;
}

.relationFilesDataTable .theme--dark.v-table  tr td:nth-child(4) {
  width: 5%;
  padding: 0px;
  text-align: center;
}
.relationFilesDataTable .theme--dark.v-table  tr td:nth-child(5) {
  width: 5%;
  padding: 0px;
  text-align: center;
}

  /* .relationFilesDataTable .theme--dark.v-table thead tr:first-child {
    height: auto;
    padding-top: 19px;
    padding-bottom: 10px;
    border-left: none;
  }
  .relationFilesDataTable .flex-content {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 68%;
  }
  .relationFilesDataTable .flex-item {
    height: 25px;
    font-weight: bold;
  }
  .relationFilesDataTable .flex-content li:nth-child(1) {
    width: 10%;
    text-align: left;
  }
  .relationFilesDataTable .flex-content li:nth-child(2) {
    width: 40%;
    text-align: left;
  }
  .relationFilesDataTable .flex-content li:nth-child(3) {
    width: 10%;
    text-align: left;
  }
  .relationFilesDataTable .flex-content li:nth-child(4) {
    width: 15%;
    text-align: left;
  }
  .relationFilesDataTable .flex-content li:nth-child(5) {
    width: 25%;
    text-align: left;
  } */

  /* .relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(1) {
    width: 1%;
    padding-left: 5px;
  }
   .relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(2) {
    width: 10%;
    padding: 0px;
  }
   .relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(3) {
    width: 5%;
    padding: 0px;
  }
  .relationFilesDataTable .theme--dark.v-table thead tr th:nth-child(4) {
    width: 5%;
    padding: 0px;
  }

  
  .relationFilesDataTable .theme--dark.v-table  tr td:nth-child(1) {
    width: 1%;
    padding-left: 5px;
  }
   .relationFilesDataTable .theme--dark.v-table tr td:nth-child(2) {
    width: 10%;
    padding: 0px;
  }
  .relationFilesDataTable .theme--dark.v-table tr td:nth-child(3) {
    width: 5%;
    padding-left: 15px;
  }
  .relationFilesDataTable .theme--dark.v-table  tr td:nth-child(4) {
    width: 10%;
    padding: 0px;
  }
  .relationFilesDataTable .theme--dark.v-table  tr td:nth-child(5) {
    width: 10%;
    padding: 0px;
  } */